In [1]:
import psycopg2
import pandas as pd
from nba_api.stats.endpoints import commonplayerinfo
import time

from sqlalchemy import create_engine
#To do: fill in missing position values

In [310]:
#Import data from parquet files and prep for creation for database tables
player_df = pd.read_parquet('players_stats_by_season.parquet')
player_df = player_df.drop(['NICKNAME', 'CFID', 'CFPARAMS'], axis = 1)
player_df.columns= player_df.columns.str.strip().str.lower()
player_df['player_name'] = player_df['player_name'].str.lower()
player_df['team_abbreviation'] = player_df['team_abbreviation'].str.lower()



team_df = pd.read_parquet('team_stats_by_season.parquet')
team_df = team_df.drop(['CFID', 'CFPARAMS'], axis = 1)
team_df.columns= team_df.columns.str.strip().str.lower()
team_df['team_name'] = team_df['team_name'].str.lower()


#Adding team name instead of abbreviation to player_df
# team_name_df = team_df[['team_id', 'team_name']]
# team_name_df = pd.DataFrame(team_name_df.groupby('team_id')['team_name'].unique())
# team_name_df['team_name'] = team_name_df['team_name'].str[0]
# player_df = pd.merge(player_df, team_name_df,  on = ['team_id'], how = 'left')

In [311]:
player_df

,player_id,player_name,team_id,team_abbreviation,age,gp,w,l,w_pct,min,...,e_pace_rank,pace_rank,sp_work_pace_rank,pie_rank,fgm_rank,fga_rank,fgm_pg_rank,fga_pg_rank,fg_pct_rank,season
0,203932,aaron gordon,1610612743,den,26.0,75,46,29,0.613,31.7,...,354,463,463,218,55,69,81,106,106,2021-22
1,1630565,aaron henry,1610612755,phi,22.0,6,6,0,1.000,2.8,...,26,47,47,596,561,557,573,581,569,2021-22
2,1628988,aaron holiday,1610612756,phx,25.0,63,34,29,0.540,16.2,...,428,400,400,272,257,250,320,310,287,2021-22
3,1630174,aaron nesmith,1610612738,bos,22.0,52,32,20,0.615,11.0,...,318,312,312,510,361,351,440,434,443,2021-22
4,1630598,aaron wiggins,1610612760,okc,23.0,50,13,37,0.260,24.2,...,239,208,208,461,254,251,236,240,223,2021-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12302,335,willie anderson,1610612748,mia,30.0,28,22,6,0.786,10.7,...,414,389,389,200,351,356,348,370,169,1996-97
12303,416,willie burton,1610612737,atl,29.0,24,15,9,0.625,15.9,...,308,303,303,394,329,320,286,241,403,1996-97
12304,1365,xavier mcdaniel,1610612751,njn,34.0,62,19,43,0.306,18.9,...,84,90,90,282,220,200,227,203,358,1996-97
12305,212,yinka dare,1610612751,njn,24.0,41,12,29,0.293,7.7,...,83,62,62,419,373,367,426,420,396,1996-97
12306,440,zan tabak,1610612761,tor,27.0,13,6,7,0.462,16.7,...,336,228,228,253,341,352,209,216,178,1996-97

In [312]:
team_df[team_df['team_id'] == 1610612740]

,team_id,team_name,gp,w,l,w_pct,min,e_off_rating,off_rating,e_def_rating,...,ast_ratio_rank,oreb_pct_rank,dreb_pct_rank,reb_pct_rank,tm_tov_pct_rank,efg_pct_rank,ts_pct_rank,pace_rank,pie_rank,season
18,1610612740,new orleans pelicans,82,36,46,0.439,3951.0,109.0,111.2,110.5,...,13,4,3,3,21,24,22,21,18,2021-22
48,1610612740,new orleans pelicans,72,31,41,0.431,3486.0,110.8,113.0,111.6,...,11,1,3,2,22,17,17,10,14,2020-21
78,1610612740,new orleans pelicans,72,30,42,0.417,3486.0,108.0,110.5,109.4,...,7,4,18,13,29,6,14,4,18,2019-20
108,1610612740,new orleans pelicans,82,33,49,0.402,3951.0,108.6,110.7,110.4,...,7,7,14,9,22,11,12,2,16,2018-19
138,1610612740,new orleans pelicans,82,48,34,0.585,3991.0,107.7,108.5,105.6,...,3,29,19,21,16,4,5,1,7,2017-18
168,1610612740,new orleans pelicans,82,34,48,0.415,3981.0,103.3,104.7,104.9,...,16,29,11,29,4,20,23,8,21,2016-17
198,1610612740,new orleans pelicans,82,30,52,0.366,3956.0,103.2,104.8,107.3,...,16,24,3,22,4,19,18,8,26,2015-16
228,1610612740,new orleans pelicans,82,45,37,0.549,3956.0,105.4,107.1,104.7,...,8,8,13,8,10,11,12,27,13,2014-15
258,1610612740,new orleans pelicans,82,34,48,0.415,3971.0,104.7,106.2,107.3,...,17,13,23,20,7,17,16,20,20,2013-14
288,1610612740,new orleans hornets,82,27,55,0.329,3956.0,102.7,104.5,107.6,...,21,5,7,4,25,17,18,30,25,2012-13
318,1610612740,new orleans hornets,66,21,45,0.318,3188.0,98.3,99.9,102.3,...,12,14,12,11,30,21,22,30,22,2011-12
348,1610612740,new orleans hornets,82,46,36,0.561,3966.0,103.8,105.4,102.5,...,17,19,2,12,7,19,16,29,14,2010-11
378,1610612740,new orleans hornets,82,37,45,0.451,3966.0,105.1,106.5,107.3,...,7,24,19,26,7,12,15,16,20,2009-10
408,1610612740,new orleans hornets,82,49,33,0.598,3951.0,106.2,107.6,104.1,...,17,25,12,19,6,14,13,28,12,2008-09
438,1610612740,new orleans hornets,82,56,26,0.683,3961.0,109.0,110.0,102.9,...,9,18,2,11,2,6,11,26,11,2007-08
468,1610612740,new orleans/oklahoma city hornets,82,39,43,0.476,3976.0,101.9,103.7,104.0,...,29,11,4,6,10,28,30,23,22,2006-07
498,1610612740,new orleans/oklahoma city hornets,82,38,44,0.463,3961.0,100.6,102.3,104.4,...,25,18,6,16,4,30,28,21,23,2005-06
528,1610612740,new orleans hornets,82,18,64,0.220,3986.0,95.9,98.2,105.1,...,16,8,21,23,23,30,30,28,29,2004-05
557,1610612740,new orleans hornets,82,41,41,0.500,3966.0,99.1,100.7,99.5,...,15,9,16,15,18,22,24,19,15,2003-04
586,1610612740,new orleans hornets,82,47,35,0.573,3981.0,100.6,102.4,98.4,...,13,4,8,3,18,24,25,23,10,2002-03

In [313]:
#Get salary cap for each season
team_salary_cap = pd.read_csv('salary_cap_by_season.csv', names = ['season', 'salary_cap', 'salary_cap_adj'])
team_df = pd.merge(team_df, team_salary_cap, on = 'season')

In [314]:
#Player Salary from 2020 season onward
recent_player_salary = pd.read_csv('NBA Players Salaries 1920.csv').drop(columns = ['Rk', '2022-23','2023-24', '2024-25', 'Signed Using', 'Guaranteed'])
recent_player_salary.columns= recent_player_salary.columns.str.strip().str.lower()
recent_player_salary =recent_player_salary.rename(columns = {'player': 'player_name', 'tm': 'team_abbreviation'})

In [315]:
#Clean up recent player salary data
recent_player_salary['2019-20'] = recent_player_salary['2019-20'].str[:-5][:50].fillna(0).astype(int)
recent_player_salary['2020-21'] = recent_player_salary['2020-21'].str[:-5][:50].fillna(0).astype(int)
recent_player_salary['2021-22'] = recent_player_salary['2021-22'].str[:-5][:50].fillna(0).astype(int)

recent_player_salary['team_abbreviation'] = recent_player_salary['team_abbreviation'].str.lower()
recent_player_salary['player_name'] = recent_player_salary['player_name'].str.split("\\").str[0].str.lower()

In [316]:
#Manipulate recent salary to join to player_df
recent_player_salary = recent_player_salary.melt(id_vars=["player_name", "team_abbreviation"], 
        var_name="season", 
        value_name="salary")

In [317]:
recent_player_salary[recent_player_salary['player_name'] == 'stephen curry']

        player_name team_abbreviation   season      salary
0     stephen curry               gsw  2019-20  40231758.0
568   stephen curry               gsw  2020-21  43006362.0
1136  stephen curry               gsw  2021-22  45780966.0

In [318]:
#Get each players salary by season (so far up to 2020)
#Clean up player salary data to match other data
player_salary = pd.read_csv('nba-salaries.csv')
player_salary['player_name'] = player_salary['player_name'].str.lower()
player_salary['team_name'] = player_salary['team_name'].str.lower()
player_salary['season'] = (player_salary['season'] - 1).apply(str) + "-" + player_salary['season'].apply(str).str[-2:]
player_salary['team_name'] = player_salary['team_name'].replace( 'no/oklahoma city\r\n hornets','new orleans hornets')
player_salary['team_name'] = player_salary['team_name'].replace( 'no/oklahoma city hornets','new orleans hornets')
drop_teams = [
       'null unknown', 'madrid real madrid',
       'bilbao basket bilbao basket', 'fenerbahce ulker fenerbahce ulker',
       'maccabi haifa maccabi haifa']
player_salary = player_salary[~player_salary['team_name'].isin(drop_teams)]

In [319]:
player_salary

,rank,player_name,position,team_name,salary,season
0,1,shaquille o'neal,C,los angeles lakers,17142000,1999-00
1,2,kevin garnett,PF,minnesota timberwolves,16806000,1999-00
2,3,alonzo mourning,C,miami heat,15004000,1999-00
3,4,juwan howard,PF,washington wizards,15000000,1999-00
4,5,scottie pippen,SF,portland trail blazers,14795000,1999-00
...,...,...,...,...,...,...
9451,524,jimmer fredette,G,phoenix suns,208509,2019-20
9452,525,jontay porter,PF,memphis grizzlies,197933,2019-20
9453,526,anthony tolliver,PF,memphis grizzlies,183115,2019-20
9454,527,tyler johnson,SG,phoenix suns,183115,2019-20
9455,528,luguentz dort,SG,oklahoma city thunder,155647,2019-20

In [320]:
#Add Team ID to player salary
team_name_df = team_df[['team_id', 'team_name']]
player_salary = pd.merge(player_salary, team_name_df, on =['team_name'], how = 'left').drop_duplicates()

In [321]:
#Add salary to each player in the player_df data
player_salary_merge = player_salary[['team_id', 'player_name', 'season', 'salary', 'position']]
player_df = pd.merge(player_df, player_salary_merge, on = ['team_id', 'player_name', 'season'], how = 'left')

In [322]:
#Add 2020 onward salary to each player
recent_player_salary = recent_player_salary.dropna()
player_df = pd.merge(player_df, recent_player_salary, on = ['player_name', 'team_abbreviation', 'season'], how = 'left')

In [323]:
player_df

,player_id,player_name,team_id,team_abbreviation,age,gp,w,l,w_pct,min,...,pie_rank,fgm_rank,fga_rank,fgm_pg_rank,fga_pg_rank,fg_pct_rank,season,salary_x,position,salary_y
0,203932,aaron gordon,1610612743,den,26.0,75,46,29,0.613,31.7,...,218,55,69,81,106,106,2021-22,NaN,NaN,NaN
1,1630565,aaron henry,1610612755,phi,22.0,6,6,0,1.000,2.8,...,596,561,557,573,581,569,2021-22,NaN,NaN,NaN
2,1628988,aaron holiday,1610612756,phx,25.0,63,34,29,0.540,16.2,...,272,257,250,320,310,287,2021-22,NaN,NaN,NaN
3,1630174,aaron nesmith,1610612738,bos,22.0,52,32,20,0.615,11.0,...,510,361,351,440,434,443,2021-22,NaN,NaN,NaN
4,1630598,aaron wiggins,1610612760,okc,23.0,50,13,37,0.260,24.2,...,461,254,251,236,240,223,2021-22,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12302,335,willie anderson,1610612748,mia,30.0,28,22,6,0.786,10.7,...,200,351,356,348,370,169,1996-97,NaN,NaN,NaN
12303,416,willie burton,1610612737,atl,29.0,24,15,9,0.625,15.9,...,394,329,320,286,241,403,1996-97,NaN,NaN,NaN
12304,1365,xavier mcdaniel,1610612751,njn,34.0,62,19,43,0.306,18.9,...,282,220,200,227,203,358,1996-97,NaN,NaN,NaN
12305,212,yinka dare,1610612751,njn,24.0,41,12,29,0.293,7.7,...,419,373,367,426,420,396,1996-97,NaN,NaN,NaN
12306,440,zan tabak,1610612761,tor,27.0,13,6,7,0.462,16.7,...,253,341,352,209,216,178,1996-97,NaN,NaN,NaN

In [324]:
#Combine the two salary columns into one
player_df['salary_x'].fillna(player_df['salary_y'], inplace = True)
player_df = player_df.drop(columns = ['salary_y'], axis = 1)
player_df = player_df.rename(columns = {'salary_x': 'salary'})

In [329]:
#Add in player position
nba_player_id = player_df['player_id'].unique()
position_df = pd.DataFrame()
counter = 0
for p_id in nba_player_id:
    player_info = commonplayerinfo.CommonPlayerInfo(player_id = p_id).get_data_frames()[0][['PERSON_ID', 'POSITION']]
    #player_df.loc[player_df['player_id'] == p_id, 'position'] = player_info['POSITION'][0]
    position_df = position_df.append(player_info)
    counter +=1
    print(counter)
    time.sleep(10)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [250]:
player_info = commonplayerinfo.CommonPlayerInfo(player_id = 335).get_data_frames()[0][['PERSON_ID', 'POSITION']]

In [328]:
player_df[900:1000]

,player_id,player_name,team_id,team_abbreviation,age,gp,w,l,w_pct,min,...,sp_work_pace_rank,pie_rank,fgm_rank,fga_rank,fgm_pg_rank,fga_pg_rank,fg_pct_rank,season,salary,position
900,1629103,kelan martin,1610612754,ind,25.0,35,16,19,0.457,9.2,...,163,173,363,362,380,376,248,2020-21,NaN,NaN
901,1629640,keldon johnson,1610612759,sas,21.0,69,32,37,0.464,28.5,...,371,240,68,71,113,118,167,2020-21,NaN,NaN
902,1629833,keljin blevins,1610612757,por,25.0,17,11,6,0.647,4.4,...,8,526,501,486,520,517,517,2020-21,NaN,NaN
903,203482,kelly olynyk,1610612745,hou,30.0,70,26,44,0.371,28.5,...,301,127,70,74,118,130,155,2020-21,NaN,NaN
904,1626162,kelly oubre jr.,1610612744,gsw,25.0,55,27,28,0.491,30.7,...,79,243,83,67,81,69,282,2020-21,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1629675,naz reid,1610612750,min,21.0,70,22,48,0.314,19.2,...,98,122,94,124,145,178,86,2020-21,NaN,NaN
996,202357,nemanja bjelica,1610612748,mia,33.0,37,16,21,0.432,16.1,...,332,286,328,329,309,307,235,2020-21,NaN,NaN
997,203457,nerlens noel,1610612752,nyk,27.0,64,35,29,0.547,24.2,...,538,302,251,310,341,410,35,2020-21,NaN,NaN
998,1629651,nic claxton,1610612751,bkn,22.0,32,23,9,0.719,18.6,...,324,140,327,357,268,340,29,2020-21,NaN,NaN
999,1630208,nick richards,1610612766,cha,23.0,18,9,9,0.500,3.5,...,228,510,508,518,525,536,263,2020-21,NaN,NaN

In [193]:
player_df[player_df['player_name'] == 'michael jordan']

,player_id,player_name,team_id,team_abbreviation,age,gp,w,l,w_pct,min,...,sp_work_pace_rank,pie_rank,fgm_rank,fga_rank,fgm_pg_rank,fga_pg_rank,fg_pct_rank,season,salary,position
9522,893,michael jordan,1610612764,was,40.0,82,37,45,0.451,36.9,...,406,29,9,9,13,10,158,2002-03,1030000.0,G
9958,893,michael jordan,1610612764,was,39.0,60,30,30,0.500,34.8,...,416,21,26,17,8,2,285,2001-02,1000000.0,G
11730,893,michael jordan,1610612741,chi,35.0,82,62,20,0.756,38.8,...,388,8,1,1,2,1,130,1997-98,NaN,NaN
12174,893,michael jordan,1610612741,chi,34.0,82,69,13,0.841,37.9,...,335,4,1,1,1,1,93,1996-97,NaN,NaN

In [178]:
#Create the temas and players tables from parque files
engine = create_engine('postgresql://postgres:Alpha7526!@localhost:5432/postgres')
#team_df.to_sql('teams', engine)
#player_df.to_sql('players', engine)

In [179]:
#Connect to local PostgresSQL database
conn = psycopg2.connect(database="postgres",
                        host="localhost",
                        user="postgres",
                        password="Alpha7526!",
                        port="5432")
cursor = conn.cursor()

In [182]:
cursor.execute("""SELECT * FROM players WHERE player_name = 'lebron james' LIMIT 10""")
print(cursor.fetchall())

[(374, 2544, 'lebron james', 1610612747, 'lal', 37.0, 56, 25, 31, 0.446, 37.2, 110.1, 110.9, 110.9, 112.0, 113.5, 113.5, -1.9, -2.5, -2.5, 0.297, 1.78, 18.4, 0.031, 0.185, 0.109, 10.4, 10.2, 0.59, 0.619, 0.317, 0.327, 102.02, 100.92, 84.1, 100.92, 0.18, 4380, 640, 1221, 11.4, 21.8, 0.524, 234, 243, 447, 373, 8, 218, 189, 189, 422, 471, 471, 310, 341, 341, 38, 261, 226, 307, 103, 166, 371, 361, 89, 84, 13, 13, 175, 271, 271, 10, 10, 17, 1, 1, 103, '2021-22', 41002273.0, None), (938, 2544, 'lebron james', 1610612747, 'lal', 36.0, 45, 30, 15, 0.667, 33.4, 111.8, 112.4, 112.4, 102.6, 103.2, 103.2, 9.1, 9.2, 9.2, 0.394, 2.08, 24.3, 0.02, 0.202, 0.114, 11.7, 11.6, 0.576, 0.602, 0.31, 0.32, 100.98, 100.41, 83.67, 100.41, 0.191, 3145, 422, 823, 9.4, 18.3, 0.513, 279, 143, 163, 79, 40, 140, 137, 137, 47, 61, 61, 30, 35, 35, 6, 169, 81, 368, 67, 119, 390, 385, 110, 122, 11, 11, 312, 343, 343, 6, 46, 48, 11, 17, 101, '2020-21', 39219565.0, None), (1472, 2544, 'lebron james', 1610612747, 'lal', 35.0, 67, 50, 17, 0.746, 34.6, 111.1, 112.1, 112.1, 102.3, 103.6, 103.6, 8.8, 8.5, 8.5, 0.477, 2.62, 28.5, 0.028, 0.191, 0.11, 10.9, 10.8, 0.55, 0.577, 0.308, 0.317, 102.67, 101.5, 84.58, 101.5, 0.198, 4910, 643, 1303, 9.6, 19.4, 0.493, 59, 12, 202, 40, 17, 110, 97, 97, 66, 90, 90, 47, 52, 52, 2, 58, 44, 285, 92, 141, 298, 294, 153, 172, 12, 12, 270, 340, 340, 5, 3, 5, 6, 12, 125, '2019-20', 37436858.0, ' SF'), (2004, 2544, 'lebron james', 1610612747, 'lal', 34.0, 55, 28, 27, 0.509, 35.2, 107.9, 109.6, 109.6, 106.3, 107.6, 107.6, 1.6, 2.0, 2.0, 0.376, 2.3, 23.6, 0.029, 0.193, 0.114, 10.2, 10.2, 0.56, 0.588, 0.311, 0.317, 105.56, 104.12, 86.77, 104.12, 0.188, 4218, 558, 1095, 10.1, 19.9, 0.51, 270, 219, 271, 249, 7, 209, 157, 157, 186, 238, 238, 185, 162, 162, 11, 120, 97, 264, 87, 130, 316, 314, 105, 115, 11, 11, 83, 155, 155, 12, 28, 39, 2, 5, 96, '2018-19', 35654150.0, ' SF'), (2529, 2544, 'lebron james', 1610612739, 'cle', 33.0, 82, 50, 32, 0.61, 36.9, 112.7, 113.7, 113.7, 110.9, 112.1, 112.1, 1.7, 1.6, 1.6, 0.432, 2.15, 25.8, 0.033, 0.201, 0.119, 12.0, 11.9, 0.59, 0.621, 0.31, 0.316, 100.1, 99.12, 82.6, 99.12, 0.191, 6250, 857, 1580, 10.5, 19.3, 0.542, 1, 26, 348, 125, 1, 30, 29, 29, 458, 484, 484, 177, 173, 173, 4, 121, 79, 230, 77, 123, 383, 378, 59, 51, 9, 9, 214, 291, 291, 6, 1, 2, 1, 6, 72, '2017-18', None, None), (3036, 2544, 'lebron james', 1610612739, 'cle', 32.0, 74, 51, 23, 0.689, 37.8, 114.9, 116.7, 116.7, 107.1, 108.5, 108.5, 7.7, 8.3, 8.3, 0.388, 2.13, 25.7, 0.036, 0.189, 0.114, 12.1, 12.0, 0.594, 0.619, 0.292, 0.297, 98.38, 97.0, 80.84, 97.0, 0.183, 5655, 736, 1344, 9.9, 18.2, 0.548, 126, 21, 190, 45, 1, 18, 10, 10, 287, 336, 336, 45, 42, 42, 7, 98, 65, 219, 71, 126, 350, 347, 32, 35, 16, 15, 231, 339, 339, 7, 4, 19, 3, 15, 45, '2016-17', 30963450.0, ' SF'), (3521, 2544, 'lebron james', 1610612739, 'cle', 31.0, 76, 56, 20, 0.737, 35.6, 112.4, 114.0, 114.0, 101.4, 102.6, 102.6, 11.0, 11.4, 11.4, 0.339, 2.06, 21.6, 0.042, 0.167, 0.106, 10.5, 10.4, 0.551, 0.588, 0.305, 0.311, 95.83, 94.61, 78.85, 94.61, 0.189, 5344, 737, 1416, 9.7, 18.6, 0.52, 109, 21, 155, 44, 14, 14, 8, 8, 124, 169, 169, 29, 25, 25, 19, 97, 104, 188, 133, 151, 226, 218, 77, 62, 9, 9, 369, 428, 428, 3, 2, 7, 2, 6, 75, '2015-16', 22970500.0, ' SF'), (4007, 2544, 'lebron james', 1610612739, 'cle', 30.0, 69, 50, 19, 0.725, 36.1, 112.2, 113.8, 113.8, 102.4, 102.8, 102.8, 9.8, 10.9, 10.9, 0.366, 1.88, 22.4, 0.022, 0.147, 0.086, 11.9, 11.9, 0.535, 0.577, 0.318, 0.324, 94.92, 94.06, 78.38, 94.06, 0.171, 4889, 624, 1279, 9.0, 18.5, 0.488, 168, 40, 153, 40, 6, 16, 11, 11, 212, 224, 224, 29, 24, 24, 18, 128, 100, 317, 161, 207, 324, 320, 92, 74, 7, 8, 347, 406, 406, 11, 7, 8, 4, 5, 101, '2014-15', 20644400.0, ' SF'), (4485, 2544, 'lebron james', 1610612748, 'mia', 29.0, 77, 52, 25, 0.675, 37.7, 111.4, 112.0, 112.0, 103.5, 105.1, 105.1, 7.9, 6.9, 6.9, 0.311, 1.81, 20.7, 0.034, 0.165, 0.104, 11.5, 11.4, 0.61, 0.649, 0.303, 0.309, 94.04, 93.04, 77.53, 93.04, 0.2, 5634, 767, 1353, 10.0, 17.6, 0.567, 101, 29, 221, 75, 6, 22, 25, 25, 214, 276, 276, 47, 56, 56, 28, 133, 116, 240, 128, 167, 269, 267, 19, 10, 5, 7, 375, 416, 416, 3, 2, 10, 2, 8, 21, '2013-14', 19067500.0, ' SF'), (4976, 2544, 'lebron james', 1610612748, 'mia', 28.0, 76, 61, 15, 0.803, 37.9, 113.4, 114.2, 114.2, 99.3, 101.9, 101.9, 14.1, 12.3, 12.3, 0.344, 2.44, 23.3, 0.039, 0.18, 0.115, 9.6, 9.6, 0.603, 0.64, 0.294, 0.298, 93.87, 92.28, 76.9, 92.28, 0.221, 5549, 765, 1354, 10.1, 17.8, 0.565, 115, 4, 98, 19, 8, 3, 3, 3, 81, 172, 172, 4, 8, 8, 17, 52, 84, 222, 88, 129, 131, 126, 17, 11, 6, 6, 278, 370, 370, 1, 1, 7, 1, 5, 25, '2012-13', 19067500.0, ' SF')]

In [189]:
conn.close()