In [9]:
import psycopg2
import pandas as pd
from nba_api.stats.endpoints import commonplayerinfo
import time
import pandas.io.sql as psql
from sqlalchemy import create_engine
#THOUGHTS
    #Create player information database separate
    #Then another database with seasonal data

In [17]:
class Nba_DB:
    
    def __init__(self):
        try:
            self.conn = psycopg2.connect(database="postgres",
                                    host="localhost",
                                    user="postgres",
                                    password="Alpha7526!",
                                    port="5432")
            print('successfully connected')
        except:
            print('connection unsuccessful')
            self.conn = None
            
    #Close local PostgresSQL connection
    def close_connection(self):
        try:
            self.conn.close()
            print('connection closed')
        except:
            print('Error: check if connection was already closed')
            
    #Excecute query passed in as string        
    def execute_query(self, query):
        try:
            return psql.read_sql(query, self.conn)
        except:
            print('Query failed, please try again')

In [18]:
test = Nba_DB()

successfully connected

In [19]:
test.conn

In [21]:
test.execute_query("SELECT * FROM players WHERE team_id = 1610612748 AND season = '2016-17'")

,index,player_id,player_name,team_id,team_abbreviation,age,gp,w,l,w_pct,...,above_the_break_3_fga,above_the_break_3_fg_pct,backcourt_fgm,backcourt_fga,backcourt_fg_pct,corner_3_fgm,corner_3_fga,corner_3_fg_pct,salary,position
0,2870,203079,dion waiters,1610612748,mia,25.0,46,27,19,0.587,...,157.0,0.350,0.0,2.0,0.0,30.0,56.0,0.536,2898000.0,SG
1,2906,201609,goran dragic,1610612748,mia,31.0,73,40,33,0.548,...,224.0,0.402,0.0,0.0,0.0,27.0,64.0,0.422,15891725.0,PG
2,2912,202355,hassan whiteside,1610612748,mia,28.0,77,39,38,0.506,...,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.000,22116750.0,C
3,2939,201949,james johnson,1610612748,mia,30.0,76,40,36,0.526,...,161.0,0.323,0.0,5.0,0.0,35.0,89.0,0.393,4000000.0,PF
4,2990,201177,josh mcroberts,1610612748,mia,30.0,22,6,16,0.273,...,27.0,0.444,0.0,0.0,0.0,1.0,4.0,0.250,5782450.0,PF
5,2991,1626196,josh richardson,1610612748,mia,23.0,53,23,30,0.434,...,166.0,0.283,0.0,1.0,0.0,28.0,60.0,0.467,874636.0,SG
6,2999,1626159,justise winslow,1610612748,mia,21.0,18,4,14,0.222,...,12.0,0.083,0.0,0.0,0.0,6.0,22.0,0.273,2593440.0,SF
7,3042,202337,luke babbitt,1610612748,mia,28.0,68,35,33,0.515,...,146.0,0.411,0.0,0.0,0.0,27.0,64.0,0.422,1227286.0,F
8,3102,1627855,okaro white,1610612748,mia,24.0,35,26,9,0.743,...,18.0,0.333,0.0,0.0,0.0,6.0,16.0,0.375,210995.0,F
9,3139,203585,rodney mcgruder,1610612748,mia,25.0,78,40,38,0.513,...,96.0,0.313,0.0,2.0,0.0,42.0,121.0,0.347,543471.0,SG
10,3207,204020,tyler johnson,1610612748,mia,25.0,73,35,38,0.479,...,193.0,0.368,0.0,1.0,0.0,21.0,54.0,0.389,5628000.0,SG
11,3213,2617,udonis haslem,1610612748,mia,37.0,16,6,10,0.375,...,2.0,0.000,0.0,0.0,0.0,0.0,1.0,0.000,4000000.0,PF
12,3217,201961,wayne ellington,1610612748,mia,29.0,62,35,27,0.565,...,278.0,0.363,0.0,1.0,0.0,48.0,114.0,0.421,6000000.0,SG
13,3223,203186,willie reed,1610612748,mia,27.0,71,39,32,0.549,...,4.0,0.250,0.0,0.0,0.0,0.0,0.0,0.000,1015696.0,C

In [22]:
test.close_connection()

connection closed

In [8]:
#Queries for specific uses:
#Get All information on a Player
#"SELECT * FROM players WHERE player_name = 'lebron james'"

#Get All players from a team in a specific season
#"SELECT * FROM players WHERE team_id = 1610612748 AND season = '2019-20' "