In [1]:
import psycopg2
import pandas as pd
from nba_api.stats.endpoints import commonplayerinfo
import time
import pandas.io.sql as psql
from sqlalchemy import create_engine
#THOUGHTS
    #Create player information database separate
    #Then another database with seasonal data

In [25]:
class nba_db():
    
    def __init__(self):
        self.conn = None
    
    #Connect to local PostgresSQL database
    def connect_to_db(self):
        try:
            self.conn = psycopg2.connect(database="postgres",
                                    host="localhost",
                                    user="postgres",
                                    password="Alpha7526!",
                                    port="5432")
            print('successfully connected')
            return self.conn
        except:
            print('connection unsuccessful')
            
    #Close local PostgresSQL connection
    def close_connection(self):
        try:
            self.conn.close()
            print('connection closed')
        except:
            print('Error: check if connection was already closed')

In [26]:
test = nba_db()

In [27]:
test.conn

In [28]:
test.connect_to_db()

successfully connected

In [31]:
test.close_connection()

connection closed

In [26]:
#Queries for specific uses:
#Get All information on a Player
#"SELECT * FROM players WHERE player_name = 'lebron james'"

#Get All players from a team in a specific season
#"SELECT * FROM players WHERE team_id = 1610612748 AND season = '2019-20' "

In [29]:
dataframe = psql.read_sql("SELECT * FROM players WHERE team_id = 1610612748 AND season = '2021-22'", test.conn)

In [30]:
dataframe

,index,player_id,player_name,team_id,team_abbreviation,age,gp,w,l,w_pct,...,sp_work_pace_rank,pie_rank,fgm_rank,fga_rank,fgm_pg_rank,fga_pg_rank,fg_pct_rank,season,salary,position
0,34,1628389,bam adebayo,1610612748,mia,24.0,56,36,20,0.643,...,561,18,66,93,35,74,71,2021-22,NaN,Center-Forward
1,63,1628997,caleb martin,1610612748,mia,26.0,60,37,23,0.617,...,480,238,202,219,204,234,126,2021-22,NaN,Forward
2,88,1629735,chris silva,1610612748,mia,25.0,10,7,3,0.700,...,162,376,505,520,525,550,89,2021-22,NaN,Forward
3,156,203473,dewayne dedmon,1610612748,mia,32.0,67,43,24,0.642,...,507,122,248,282,314,380,65,2021-22,NaN,Center
4,167,1629130,duncan robinson,1610612748,mia,28.0,79,52,27,0.658,...,580,426,117,96,182,149,434,2021-22,NaN,Forward
5,192,1629216,gabe vincent,1610612748,mia,26.0,68,47,21,0.691,...,541,397,194,172,231,194,370,2021-22,NaN,Guard
6,219,1629312,haywood highsmith,1610612748,mia,25.0,19,13,6,0.684,...,212,543,476,467,524,496,516,2021-22,NaN,Forward
7,270,1630606,javonte smart,1610612748,mia,23.0,17,11,6,0.647,...,327,535,465,448,484,431,535,2021-22,NaN,Guard
8,288,202710,jimmy butler,1610612748,mia,32.0,57,38,19,0.667,...,579,14,70,72,43,52,185,2021-22,36016200.0,Forward
9,329,1629644,kz okpala,1610612748,mia,23.0,21,14,7,0.667,...,560,419,441,438,430,452,322,2021-22,NaN,Forward-Guard
10,362,1629657,kyle guy,1610612748,mia,24.0,19,15,4,0.789,...,102,455,448,444,445,441,430,2021-22,NaN,Guard
11,364,200768,kyle lowry,1610612748,mia,36.0,63,41,22,0.651,...,512,124,135,121,141,134,307,2021-22,NaN,Guard
12,397,1630585,marcus garrett,1610612748,mia,23.0,12,11,1,0.917,...,593,568,523,505,556,538,563,2021-22,NaN,Guard
13,401,202693,markieff morris,1610612748,mia,32.0,17,10,7,0.588,...,437,439,394,399,228,241,197,2021-22,NaN,Forward
14,413,1629622,max strus,1610612748,mia,26.0,68,46,22,0.676,...,565,285,161,145,183,175,303,2021-22,NaN,Guard-Forward
15,433,1628539,mychal mulder,1610612748,mia,28.0,17,3,14,0.176,...,232,553,453,432,435,369,539,2021-22,NaN,Guard
16,456,1630209,omer yurtseven,1610612748,mia,24.0,56,39,17,0.696,...,516,72,285,314,334,378,99,2021-22,NaN,Center
17,461,200782,p.j. tucker,1610612748,mia,37.0,71,45,26,0.634,...,582,310,205,211,266,274,178,2021-22,NaN,Forward
18,571,1629639,tyler herro,1610612748,mia,22.0,66,44,22,0.667,...,532,66,32,30,32,32,288,2021-22,NaN,Guard
19,579,2617,udonis haslem,1610612748,mia,42.0,13,10,3,0.769,...,130,295,483,489,489,498,272,2021-22,NaN,Forward
20,582,203506,victor oladipo,1610612748,mia,30.0,8,4,4,0.500,...,405,63,429,434,142,151,187,2021-22,NaN,Guard