In [23]:
import psycopg2
import pandas as pd
from nba_api.stats.endpoints import commonplayerinfo
import time
import pandas.io.sql as psql
from sqlalchemy import create_engine
#THOUGHTS
    #Create player information database separate
    #Then another database with seasonal data

In [41]:
class Nba_DB:
    
    def __init__(self):
        try:
            self.conn = psycopg2.connect(database="postgres",
                                    host="localhost",
                                    user="postgres",
                                    password="Alpha7526!",
                                    port="5432")
            print('successfully connected')
        except:
            print('connection unsuccessful')
            self.conn = None
            
    #Close local PostgresSQL connection
    def close_connection(self):
        try:
            self.conn.close()
            print('connection closed')
        except:
            print('Error: check if connection was already closed')
            
    #Excecute query passed in as string        
    def execute_query(self, query):
        try:
            return psql.read_sql(query, self.conn)
        except:
            print('Query failed, please try again')

In [42]:
test = Nba_DB()

successfully connected

In [43]:
test.conn

In [44]:
test.execute_query("SELECT * FROM players WHERE team_id = 1610612748 AND season = '2018-19'")

,index,player_id,player_name,team_id,team_abbreviation,age,gp,w,l,w_pct,...,above_the_break_3_fga,above_the_break_3_fg_pct,backcourt_fgm,backcourt_fga,backcourt_fg_pct,corner_3_fgm,corner_3_fga,corner_3_fg_pct,salary,position
0,1707,1628389,bam adebayo,1610612748,mia,21.0,82,39,43,0.476,...,9.0,0.333,0.0,2.0,0.000,0.0,4.0,0.000,2955840.0,PF
1,1794,1627884,derrick jones jr.,1610612748,mia,22.0,60,31,29,0.517,...,29.0,0.241,0.0,3.0,0.000,21.0,59.0,0.356,1512601.0,SF
2,1804,203079,dion waiters,1610612748,mia,27.0,44,20,24,0.455,...,202.0,0.356,0.0,1.0,0.000,37.0,86.0,0.430,11550000.0,SG
3,1816,1629130,duncan robinson,1610612748,mia,25.0,15,7,8,0.467,...,27.0,0.259,0.0,0.0,0.000,3.0,8.0,0.375,9474.0,SG
4,1821,2548,dwyane wade,1610612748,mia,37.0,72,35,37,0.486,...,186.0,0.290,1.0,3.0,0.333,31.0,71.0,0.437,1512601.0,G
5,1829,1629150,emanuel terry,1610612748,mia,22.0,3,0,3,0.000,...,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,unknown
6,1855,201609,goran dragic,1610612748,mia,33.0,36,16,20,0.444,...,132.0,0.364,0.0,0.0,0.000,9.0,32.0,0.281,18109175.0,PG
7,1864,202355,hassan whiteside,1610612748,mia,30.0,72,33,39,0.458,...,8.0,0.125,0.0,0.0,0.000,1.0,8.0,0.125,25434262.0,C
8,1900,201949,james johnson,1610612748,mia,32.0,55,27,28,0.491,...,101.0,0.327,0.0,3.0,0.000,17.0,44.0,0.386,14651700.0,PF
9,1955,1626196,josh richardson,1610612748,mia,25.0,73,35,38,0.479,...,379.0,0.354,0.0,0.0,0.000,30.0,79.0,0.380,9367200.0,SG
10,1964,1626159,justise winslow,1610612748,mia,23.0,66,30,36,0.455,...,163.0,0.374,0.0,1.0,0.000,35.0,92.0,0.380,3448926.0,SF
11,1971,203482,kelly olynyk,1610612748,mia,28.0,79,39,40,0.494,...,242.0,0.347,0.0,1.0,0.000,29.0,76.0,0.382,12537527.0,PF
12,2108,201583,ryan anderson,1610612748,mia,31.0,25,7,18,0.280,...,32.0,0.250,0.0,1.0,0.000,1.0,7.0,0.143,0.0,unknown
13,2179,2617,udonis haslem,1610612748,mia,39.0,10,8,2,0.800,...,10.0,0.000,0.0,0.0,0.000,0.0,2.0,0.000,1512601.0,PF
14,2195,1628999,yante maten,1610612748,mia,22.0,2,1,1,0.500,...,1.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,18948.0,F

In [45]:
test.close_connection()

connection closed

In [8]:
#Queries for specific uses:
#Get All information on a Player
#"SELECT * FROM players WHERE player_name = 'lebron james'"

#Get All players from a team in a specific season
#"SELECT * FROM players WHERE team_id = 1610612748 AND season = '2019-20' "