In [56]:
import pandas as pd
import importnb
import import_ipynb
from tkinter import *

from database_interaction import Nba_DB

In [79]:
#Class that handles the front end interaction with user's inputs
class UserExperience:
    db_conn = None
    #Constructor
    def __init__(self):
        self.db_conn = Nba_DB()
        
    #Start the program    
    def startup(self):
        print('Welcome to the interactive NBA Player clustering program. Please select which NBA season you would like to look at from the following list.')
        seasons = self.db_conn.execute_query("SELECT DISTINCT season FROM players ORDER BY season")
        display(seasons)
        season_input = input("Season Selected: ")
        
        if season_input not in seasons['season'].unique():
            print('Not an actual season, try again')
            return self.startup()
        
        
        
        
        #self.drop_down_menu(seasons)
    
#     #Create a drop down menu of passed in options
#     def drop_down_menu(self, options):
#         #Create an instance of tkinter frame
#         win= Tk()

#         #Define the size of window or frame
#         win.geometry("715x250")

#         #Set the Menu initially
#         menu= StringVar()
#         menu.set("Select Any Season")

#         #Create a dropdown Menu
#         drop= OptionMenu(win, menu, *options)
#         drop.pack()
#         #print(menu.get())
#         win.mainloop()

In [80]:
user_ex = UserExperience()
user_ex.startup()

successfully connected
Welcome to the interactive NBA Player clustering program. Please select which NBA season you would like to look at from the following list.

     season
0   1996-97
1   1997-98
2   1998-99
3   1999-00
4   2000-01
5   2001-02
6   2002-03
7   2003-04
8   2004-05
9   2005-06
10  2006-07
11  2007-08
12  2008-09
13  2009-10
14  2010-11
15  2011-12
16  2012-13
17  2013-14
18  2014-15
19  2015-16
20  2016-17
21  2017-18
22  2018-19
23  2019-20
24  2020-21
25  2021-22

Season Selected:  1231

Not an actual season, try again
Welcome to the interactive NBA Player clustering program. Please select which NBA season you would like to look at from the following list.

     season
0   1996-97
1   1997-98
2   1998-99
3   1999-00
4   2000-01
5   2001-02
6   2002-03
7   2003-04
8   2004-05
9   2005-06
10  2006-07
11  2007-08
12  2008-09
13  2009-10
14  2010-11
15  2011-12
16  2012-13
17  2013-14
18  2014-15
19  2015-16
20  2016-17
21  2017-18
22  2018-19
23  2019-20
24  2020-21
25  2021-22

Season Selected:  2021-22